body {
  height: 100vh;
  min-width: 720px;
  padding: 0;
  background-image: linear-gradient(to right top, #13697d, #008c95, #00af9d, #26d095, #83ef7f);
}

.leftbox {
  display: flex;
  flex-direction: column;
  background-color: rgba(170, 170, 170, 0.137);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.287); 
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.287);
}

.leftboxchild {
  align-self: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

#gridSizeRead {
  margin-bottom: 10px;
}

.slidecontainer {
  min-width: 150px;
  width: 80%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#gridContainer {
  display: flex;
  justify-content: center;
}

.gridBox {
    display: grid;
    height: 720px;
    width: 720px;
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56); 
    box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56);
}

#buttonbox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  padding: 8px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

button:hover,
button:active {
  background-color: rgba(255, 255, 255, 0.185);
  color: #000;
  outline: none;
}


@media (min-width: 992px) {
  .leftbox {
    width: 30vw;
    max-width: 360px;
    height: 480px;
    margin: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 20%;
  }
  
  h1 {
    margin-bottom: 30px;
    margin-top: 15px;
  }

  #buttonbox {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  button {
    width: 220px;
  }

  #gridContainer {
    justify-content: left;
  }

}

.gridTile {
    background-color: white;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: 2px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }